<ul>
  <% @datasets.each do |dataset| %>
    <li>
      <%= dataset.filename %>
      <% if dataset.processed_file_size.present? %>
        <%= link_to "Download CSV", dataset_path(dataset.id), target: '_blank' %>
      <% end %>
    </li>
  <% end %>
</ul>