<h1>Upload a new Dataset</h1>
<%= form_for ProcessingRequest.new, url: datasets_path, method: :post do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :zipfile %>
  <%= f.file_field :zipfile %>
  <%= f.submit "Upload for processing" %>
<% end %>

<h1>Prior Processing Submissions</h1>
<ul>
  <% processing_requests.each do |pr| %>
    <li>
      <%= pr.name %>
      <% if pr.processed? %>
        <%= link_to "Download CSV", dataset_path(pr) %>
      <% end %>
    </li>
  <% end %>
</ul>