<div class="row">
  <h2>Existing User Login</h2>
  <%= form_for user, url: login_authentications_path do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit 'Log In' %>
  <% end %>
</div>

<div class="row">
  <h2>New User Signup</h2>
  <%= form_for user, url: authentications_path do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit 'Create Account' %>
    
  <% end %>
</div>