<!DOCTYPE html>
<html>
  <head>
    <title>SaneHplcWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notice">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>
    <% if user_logged_in? %>
      <div class="user-controls">
        <%= link_to('Logout', logout_authentications_path, method: :delete) %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
